# Binaries from components
*.a
*.d
*.bit
*.o
*.ko
*.dtb
*.snap
.metadata
components/plnx_workspace/fsbl/Release/src/

# Other
*.old
.petalinux/usage_statistics*

# Build Directory
build/
images/linux/
